
\.DS_Store
WhatsOnZwift\.xcworkspace/xcuserdata/$(USER)\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist
WhatsOnZwift\.xcworkspace/xcuserdata/$(USER)\.xcuserdatad/UserInterfaceState\.xcuserstate
Pods
WhatsOnZwift.xcodeproj/project.xcworkspace/xcuserdata/$(USER).xcuserdatad/UserInterfaceState.xcuserstate
WhatsOnZwift.xcodeproj/xcuserdata/$(USER).xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
