
\.DS_Store
WhatsOnZwift\.xcworkspace/xcuserdata/jfdufour\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist
WhatsOnZwift\.xcworkspace/xcuserdata/jfdufour\.xcuserdatad/UserInterfaceState\.xcuserstate
Pods